<!DOCTYPE html>
<html>
<head>
	<title>My Products</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Bootstrap css -->
	<link rel="stylesheet" type="text/css" href="css1/bootstrap.min.css">
	<!-- Style css -->
	<link rel="stylesheet" type="text/css" href="css1/productgrid.css">
</head>
<body>
	<div class="container">
		<h1 class="text-center">My Products</h1>
		<hr>

		<div class="row">
			<!-- Product  -->
			<% products.forEach(product =>{%>
			<div class="col-md-4 product-grid">
				<div class="image">
					<a href="#">
						<img src="images/<%= product.imageurl%>" class="w-100">
						<div class="overlay">
							<div class="detail">View Details</div>
						</div>
					</a>
				</div>
				<h5 class="text-center"><%=product.name%>></h5>
				<h5 class="text-center">Price: Rs.<%product.price%></h5>
				<a  class="btn delete"><button class="delete-product" data-id="<%= product._id %>">Delete</button></a>
			
                                <a href="/products/update/<%= product._id %>" class="btn update">UPDATE</a>
			</div>
			<%})%>
			<!-- ./Product -->

			<!-- Product  -->
			<div class="col-md-4 product-grid">
				<div class="image">
					<a href="#">
						<img src="images/harvest1.png" class="w-100">
						<div class="overlay">
							<div class="detail">View Details</div>
						</div>
					</a>
				</div>
				<h5 class="text-center">Harvest1</h5>
				<h5 class="text-center">Price: Rs.159.00</h5>
				                           <a href="#" class="btn update">UPDATE</a>

                               
			</div>
			<!-- ./Product -->

			<!-- Product  -->
			<div class="col-md-4 product-grid">
				<div class="image">
					<a href="#">
						<img src="images/harvest1.png" class="w-100">
						<div class="overlay">
							<div class="detail">View Details</div>
						</div>
					</a>
				</div>
				<h5 class="text-center">Harvest1</h5>
				<h5 class="text-center">Price: Rs1,699.00</h5>
				<a href="#" class="btn delete">DELETE</a>
                                <a href="#" class="btn update">UPDATE</a>
			</div>
			<!-- ./Product -->

			<!-- Product  -->
			<div class="col-md-4 product-grid">
				<div class="image">
					<a href="#">
						<img src="images/harvest1.png" class="w-100">
						<div class="overlay">
							<div class="detail">View Details</div>
						</div>
					</a>
				</div>
				<h5 class="text-center">Harvest1</h5>
				<h5 class="text-center">Price: Rs.159.00</h5>
				<a href="#" class="btn delete">DELETE</a>
                                <a href="#" class="btn update">UPDATE</a>

                               
			</div>
			<!-- ./Product -->

			<!-- Product  -->
			<div class="col-md-4 product-grid">
				<div class="image">
					<a href="#">
						<img src="images/harvest1.png" class="w-100">
						<div class="overlay">
							<div class="detail">View Details</div>
						</div>
					</a>
				</div>
				<h5 class="text-center">Harvest1</h5>
				<h5 class="text-center">Price: Rs.159.00</h5>
				<a href="#" class="btn delete">DELETE</a>
                                <a href="#" class="btn update">UPDATE</a>

                               
			</div>
			<!-- ./Product -->

			<!-- Product  -->
			<div class="col-md-4 product-grid">
				<div class="image">
					<a href="#">
						<img src="images/harvest1.png" class="w-100">
						<div class="overlay">
							<div class="detail">View Details</div>
						</div>
					</a>
				</div>
				<h5 class="text-center">Harvest1</h5>
				<h5 class="text-center">Price: Rs.159.00</h5>
				<a href="#" class="btn delete">DELETE</a>
                                <a href="#" class="btn update">UPDATE</a>

                               
			</div>
			<!-- ./Product -->

		</div>

	</div>
</body>
</html>
<script>
	$(document).ready(function(){
	  $('.delete-product').on('click', function(e){
		$target = $(e.target);
		const id = $target.attr('data-id');
		$.ajax({
		  type: 'DELETE',
		  url: '/products/'+id,
		  success: function(response){
			location.reload();
			alert('Product Deleted');
			//window.location.href='/vendor/myProducts';
		  },
		  error: function(err){
			console.log(err);
		  }
		});
	  });
	});
  </script>